@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/*==========================
----------HEADER------------
==========================*/

/*---NAV---*/

#menuToggle{
    display: none;
}

header nav{
    background: linear-gradient(0.25turn, #6752ed 0%, #9f47f7 73%, #b842fb 100%);

    display: flex;
    justify-content: space-between;

    padding: 2vh 1%;
    width: auto;

    color: white;

    align-items: center;
}

header nav ul{
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 45%;

}

header nav ul li{
    display: flex;
    justify-content: center;

    padding: 0 3%;
}

header nav h1{
    margin: 0;
    padding: 0;

    text-transform: uppercase;

    width: 20%;
}

/*--- Header-content---*/

header .header_content{
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)),url('img/header_background.jpg');
    padding: 10% 0;

    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
}

header .header_content .container{
    width: 70%;
    margin: 0 auto;
}

header .header_content h2{
    color: white;

    font-size: 5rem;
    font-weight: bold;

    margin:0;
}

header .header_content h2 span{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

header .header_content p{
    margin: 3% 0;

    color: rgb(199, 199, 199);
}

header .header_content .global_button{
    background:#6752ed;
    border: none;
    border-radius:28px;

    font-size:17px;
    color: white;

    cursor: pointer;

    padding:16px 31px;
}

/*--------- BTN SEARCH ---------*/

header nav .search_content form{
    display: flex;
    justify-content: right;
}

header .search_content form button{
    float: left;
    width: 20%;
    padding: 10px;
    background: #ffffff65;
    color: rgba(255, 255, 255, 0.788);
    font-size: 17px;
    cursor: pointer;

    border: none;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}

header .search_content form input[type = search]{
    margin:0;
    padding: 10px 0 10px 20px;
    font-size: 17px;
    float: left;
    width: 60%;
    background: #ffffff65;

    border: none;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;

    outline: none;
}

header .search_content form input::placeholder{
    color: rgba(255, 255, 255, 0.788);
}

/*==========================
----------FOOTER------------
==========================*/

